<h1>welcome to home page</h1>
<ul>
	<li><a href="/register">sign up</a></li>
	<li>sign in</li>
	<li>log out</li>
</ul>

<li><a href="/register">Sign Up!</a></li>
<li><a href="/login">Login!</a></li>
<li><a href="/logout">Logout!</a></li>