<!DOCTYPE html>
  <html>
	  <head>
		   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		  <title>YelpCamp</title>
	  </head>
	  <body>
		  
		  
      <nav class="navbar navbar-default">
  <div class="container-fluid">
<!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="/">YelpCamp</a>
    </div>
<!-- Collect the nav links, forms, and other content for toggling -->
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/">login</a></li>
		<li><a href="/">sign up</a></li>
		<li><a href="/">sign out</a></li>
     </ul>
  </div><!-- /.container-fluid -->
</nav>
		  
	